.App {
  text-align: center;
  min-width: 156px;
}

.inputs {
  height: 20px;
  min-width: 500px;
  margin-top: 25px;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid rgb(158, 154, 154);
}

h1 {
  margin-top: 150px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: dimgray;
  font-size: 35px;
}

h2 {
  margin-top: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: rgb(4, 122, 24);
  font-size: 15px;
  width: fit-content;
  height: 50px;
  background-color: rgb(184, 241, 126);
}

button {
  margin-top: 25px;
  min-width: 533px;
  height: 35px;
  background-color: rgb(241, 97, 45);
  border: none;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
}

button:hover {
  background-color: rgb(255, 68, 0);
}
