body {
  /* background-image: url(./components/images/backpicture.jpg); */
  background-color: rgb(241, 236, 245);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: inline-flex;
}
.section {
  float: right;
  text-align: center;
  width: 550px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 150px;
  box-shadow: 2px 2px 15px 10px rgba(200, 198, 204, 0.596);
}

.section:hover {
  box-shadow: 2px 2px 15px 10px rgba(113, 112, 114, 0.596);
  transition: 1.5s;
}

.inputs {
  height: 20px;
  width: 80%;
  margin-top: 25px;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid rgb(158, 154, 154);
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  color: rgb(240, 113, 10);
  font-size: 35px;
  width: auto;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: rgb(24, 151, 45);
  font-size: 15px;
  height: 50px;
  display: none;
}

footer h5 {
  margin-top: 220px;
  margin-left: 200px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.main {
  float: left;
  margin: 120px 50px 0px;
  height: 380px;
  background-color: rgb(255, 255, 255);
  width: 600px;
  text-align: left;
  padding: 10px 100px 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

.mainfont {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 70px;
  color: rgb(240, 137, 20);
}

button {
  align-items: center;
  margin-top: 25px;
  width: 80%;
  height: 35px;
  background-color: rgb(241, 97, 45);
  border: none;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
}

button:hover {
  background-color: rgb(255, 68, 0);
}
